body,
span,
select,
option,
input,
ul {
    margin: 0 !important;
    font-family: 'Comfortaa', sans-serif !important;
    transition: all ease-in-out .2s;
}

#tags-list {
    margin-bottom: 5px !important;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
#submit-btn:focus,
select:focus,
textarea:focus {
    outline: 0;
    border-color: #333;
}

#add-lawyer-page,
#case-adder {
    background: #ececec;
    padding-top: 50px;
    min-height: calc(100vh - 50px);
}

.section-body-wrapper-boxed {
    width: 95%;
    max-width: 960px;
    margin: 0 auto;
}

.cstrck-form-heading {
    margin: 0 auto;
    font-weight: 300;
    font-size: 3em;
    font-family: inherit;
}

fieldset {
    border: 0;
    padding: 20px 0;
}

.flexed-wrapper {
    display: flex;
    justify-content: space-between;
    font-family: inherit;
}

.flexed-wrapper > .cstrck-input-wrapper {
    width: 48%;
}



p {
    font-weight: 400;
    font-size: 18px;
}

.cstrck-input-wrapper {
    position: relative;
    width: 100%;
    margin: 30px 0;
    font-family: inherit;
}

.cstrck-input-wrapper input,
.tag-wrapper .casetracker-tags-input {
    width: 100%;
    background: #e6e6e6;
    border: 0;
    border: 1px solid #cacaca;
    padding: 15px;
    border-radius: 0;
    font-size: 20px;
    font-weight: 300;
    font-family: inherit;
}

.casetracker-select-input {
    width: 100%;
    background: #e6e6e6;
    border-radius: 0;
    border: 1px solid #cacaca;
    padding: 15px;
    font-weight: 300;
    color: #585858;
    font-size: 18px;
    font-family: inherit;
}

.casetracker-select-input option {
    font-weight: 300;
    color: #585858;
    font-size: 18px;
}

input,
label {
    transition: all .1s ease-in-out;
}

#submit-btn {
    background: #14ff04;
    color: #fff;
    font-weight: 800;
    font-family: inherit;
    max-width: 450px;
    font-size: 24px;
    text-transform: none;
}


.cstrck-input-wrapper label {
    position: absolute;
    top: 17px;
    left: 15px;
    color: #585858;
    cursor: text;
    font-weight: 300;
    font-family: inherit;
}

.error-string {
    display: block;
    position: absolute;
    font-size: 11px;
    color: red;
    font-weight: 600;
    top: -17px;
    line-height: 0.95;
}

.errored {
    color: red;
    border-color: red !important;
}

.error-heading {
    width: 95%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    padding: 20px 0;
    background: #fff;
    border: 1px solid red;
    color: red;
    font-size: 1.2em;
    font-weight: 800;
}

.record-added,
.added-info {
    width: 95%;
    max-width: 700px;
    margin: 0 auto;
    font-size: 2.2em;
    background: #fff;
    padding: 20px 30px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #43ff43;
    line-height: 1.2;
}

.added-info {
    background: transparent;
    border-color: #bfbfbf;
    margin-top: 10px;
    padding: 0;
    border-bottom: 0;
}

.lawyer-info-wrapper {
    font-weight: 400;
    font-size: 18px;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #bfbfbf;
    font-weight: 700;
    font-size: 1.6rem;
}

/**=====================================================
    Notification Modal Styles
=====================================================**/
#notification {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -20;
    background: rgba(0, 0, 0, 0.5);
    min-width: 100%;
    min-height: 100vh;
    opacity: 0;
    transition: all .3s ease-in-out;
    justify-content: flex-start;
    padding-top: 120px;
}

#notification.show-it {
    display: flex;
}

.notifier {
    width: 98%;
    min-height: 30vh;
    background: white;
    max-width: 500px;
    align-self: center;
    border-radius: 2%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transform: scaleY(0);
    transition: all .3s ease-in-out;
    transform-origin: left top 0px;
    padding: 30px;
}

.main--btn.close-notify, #injectedbtn {
    height: auto;
    max-width: 200px;
    align-self: center;
    padding: 15px 30px;
    background: #0086df;
    color: #fff;
    cursor: pointer;
}

#msg {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
}

#msg .success {
    color: #00db00;
}

#msg .fail {
    color: red;
}

.close-modal {
    border: 1px solid #347ab3;
    border-radius: 30px;
    padding: 0 20px;
    position: absolute;
    top: 20px;
    right: 25px;
    color: #347ab3;
    cursor: default;
}


#notification-btn  {
    max-width: 280px;
    margin: 0 auto;
    padding: 15px 30px;
    background: #00BCD4;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}


/**==========================================
    Css Styles for Loader
==========================================**/
.lds-ring {
        display: inline-block;
        position: relative;
        width: 80px;
        height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 52px;
    height: 52px;
    margin: 8px;
    border: 4px solid #919191;
    border-radius: 50%;
    -webkit-animation: lds-ring 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    animation: lds-ring 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #919191 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

.lds-ring.for-approval-detail{
    position: absolute;
    top: calc(50% - 50px) !important;
    left: calc(50% - 30px);
}

.lds-ring.for-approval-detail.for-search {
    width: 30px;
    height: 30px;
    position: relative;
    left: 10px;
}

.lds-ring.for-approval-detail.for-search div {
    width: 30px;
    height: 30px;
}

/**
====================================================
Styles for the Tags for the case adder page
====================================================
*/
#present-tags {
    display: flex;
    max-width: 500px;
    flex-wrap: wrap;
}

.checkbox-wrapper {
    margin-right: 10px;
    width: 100px;
    font-size: 12px !important;
}

.tag-wrapper {
    margin-top: 30px;
}

#tag-input {
    margin-top: 5px !important;
    min-width: 300px;
}

#tags-list {
    margin: 0;
    width: 100%;
}

input[type="checkbox" i]:focus {
    outline: 0 !important;
}

.separator {
    margin: 0 10px !important;
}

.fa.fa-times.del-comm {
    background: green;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    color: #fff;
    width: 15px;
    height: 15px;
    cursor: pointer;
    position: relative;
    top: -2px;
    font-size: 12px;
}

.fa.fa-times.del-comm:hover {
    background: red;
}

.tagList {
    background: #fff;
    padding: 5px;
    font-size: 13px;
    font-weight: 800;
}

.tagline {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    width: 90%;
    margin: 20px auto;
}



@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    } 100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 840px) {
    .cstrck-form-heading {
        font-size: 2em;
    }

    .flexed-wrapper {
        display: block;
    }

    .flexed-wrapper > .cstrck-input-wrapper {
        width: 100%;
        margin-bottom: 60px;
    }

    #submit-btn {
        font-size: 1em;
        max-width: 360px;
    }
}

@media only screen and (max-width: 560px) {
    .cstrck-form-heading {
        font-size: 1.2em;
        text-align: center;
        font-weight: 900;
    }

    .error-heading {
        font-size: 1.8rem;
        padding: 20px;
    }

    .record-added, .added-info {
        font-size: 1em;
    }

    .tagList {
        line-height: 2;
    }
}

@media screen and (min-width: 560px) {
    .notifier {
        width: 70%;
    }
}

@media screen and (min-width: 767px) {
    .notifier.dlarge{
        width: 70%;
        height: 70%;
    }
    .lds-ring.dlarge {
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
    .lds-ring.dlarge div {
        width: 200px;
        height: 200px;
    }
}